<html>
<head>
    <title>학생목록조회</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <header>
        <h1>학생목록조회</h1>
    </header>
    <section>
        <table class="table" id="data_table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">학번</th>
                <th scope="col">이름</th>
                <th scope="col">학년</th>
                <th scope="col">학과</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>
    <section>
        <div class="mb-3">
            <label class="form-label">학번</label>
            <input
                    type="text"
                    class="form-control"
                    id="student_no"
                    placeholder="학번을 입력하세요"
            />
        </div>
        <div class="mb-3">
            <label class="form-label">이름</label>
            <input
                    type="text"
                    class="form-control"
                    id="student_name"
                    placeholder="이름을 입력하세요"
            />
        </div>
        <div class="mb-3">
            <label class="form-label">학년</label>
            <input
                    type="number"
                    class="form-control"
                    id="student_grade"
                    placeholder="학년을 입력하세요"
            />
        </div>
        <div class="mb-3">
            <label class="form-label">학과</label>
            <input
                    type="text"
                    class="form-control"
                    id="student_dept"
                    placeholder="학과를 입력하세요"
            />
        </div>
        <button id="btn_save" class="btn btn-primary">저장</button>
    </section>
</div>
<script>
    //화면이 로딩되면
    $(function () {
        $("#btn_save").click(function () {
            alert("저장!");
            const st_no = $("#student_no").val();
            const st_name = $("#student_name").val();
            const st_dept = $("#student_dept").val();
            const st_grade = $("#student_grade").val();

            $.ajax({
                url: "http://localhost:8000/myapp/student/",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    student_no: st_no || null,
                    name: st_name || null,
                    department: st_dept || null,
                    grade: st_grade || null,
                })
            }).done(function (response) {
                alert('저장성공')
            }).fail(function (response) {
                alert('저장실패')
            }).always(function (response) {
                console.log(response)
            });
        });
        $.ajax({
            url: "http://localhost:8000/myapp/student/",
            method: "GET",
        }).done(function (response) {
            console.log(response);
            const tr_array = response.map(student => $(
                `<tr>
                    <td>${student.id}</td>
                    <td>${student.student_no}</td>
                    <td>${student.name}</td>
                    <td>${student.grade}</td>
                    <td>${student.department}</td>
                </tr>`
            ))
            $("#data_table > tbody").append(tr_array);
        });
    });
</script>
</body>
</html>
