<html>
<head>
    <title>학생목록조회</title>
    {% include 'layout/head.html' %}
</head>
<body>
<div class="container">
    {% include 'layout/header.html' %}
    <header>
        <h1>학생목록조회</h1>
    </header>
    <section>
        <table class="table" id="data_table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">학번</th>
                <th scope="col">이름</th>
                <th scope="col">학년</th>
                <th scope="col">학과</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <a href="/myapp/student/register_page/" class="btn btn-info">학생 등록하기</a>
    </section>
</div>
{% include 'layout/footer.html' %}
{% load static %}
<script src="{% static 'js/utils.js' %}"></script>
<script>
    //화면이 로딩되면
    $(function () {


        /**
         * 학생 목록을 조회하는 함수
         */
        function getStudentList() {
            $.ajax({
                url: "http://localhost:8000/myapp/student/",
                method: "GET",
            }).done(function (response) {
                console.log(response);
                const tr_array = response.map(student => $(
                    `<tr>
                        <td>${student.id}</td>
                        <td><a href="http://localhost:8000/myapp/student/page/?student_id=${student.id}">${student.student_no}</a></td>
                        <td>${student.name}</td>
                        <td>${student.grade}</td>
                        <td>${student.department}</td>
                    </tr>`
                ))
                $("#data_table > tbody").append(tr_array);
            });
        }

        getStudentList();
    });
</script>
</body>
</html>
