<html>
<head>
    <title>학생 상세정보</title>
    {% include 'layout/head.html' %}
    <script>
        $(function () {
            function getStudent() {
                // http://localhost:8000/myapp/student/page/?student_id=1&newparam=hello
                // location.search = ?student_id=1
                // location.search.slice(-1)
                const searchParams = new URLSearchParams(location.search);
                // Map, Set
                //     student_id : 1
                //     newparam : hello


                const studentId = searchParams.get('student_id')
                sessionStorage.setItem('st_id', studentId);
                $.ajax({
                    url: `http://localhost:8000/myapp/student/${studentId}/`,
                    method: "GET",
                }).done(function (response) {
                    console.log(response);
                    $("#student_no").val(response.student_no);
                    $("#student_name").val(response.name);
                    $("#student_dept").val(response.department);
                    $("#student_grade").val(response.grade);
                });
            }

            $("#btn_delete").click(function () {
                if (confirm("삭제하시겠습니까?")) {
                    const studentId = sessionStorage.getItem('st_id');
                    $.ajax({
                        url: `http://localhost:8000/myapp/student/${studentId}/`,
                        method: "DELETE"
                    }).done(function (response) {
                        alert('삭제 성공');
                        location.href = '/myapp/student/list_page/';
                    }).fail(function (response) {
                        alert('삭제 실패');
                    }).always(function (response) {
                        console.log(response);
                    });
                }

            })
            $("#btn_save").click(function () {
                alert("저장하겠습니다!");
                const st_dept = $("#student_dept").val();
                const st_grade = $("#student_grade").val();

                const studentId = sessionStorage.getItem('st_id');
                $.ajax({
                    url: `http://localhost:8000/myapp/student/${studentId}/`,
                    method: "PUT",
                    contentType: "application/json",
                    data: JSON.stringify({
                        department: st_dept || null,
                        grade: st_grade || null,
                    })
                }).done(function (response) {
                    alert('저장성공')
                }).fail(function (response) {
                    alert('저장실패')
                }).always(function (response) {
                    console.log(response)
                });
            });
            getStudent()
        })
    </script>
</head>
<body>
<div class="container">
    {% include 'layout/header.html' %}
    <header>
        <h1>학생 상세정보</h1>
    </header>
    <section>
        <div class="mb-3">
            <label class="form-label">학번</label>
            <input
                    type="text"
                    class="form-control"
                    id="student_no"
                    disabled
                    placeholder="학번을 입력하세요"
            />
        </div>
        <div class="mb-3">
            <label class="form-label">이름</label>
            <input
                    type="text"
                    class="form-control"
                    id="student_name"
                    disabled
                    placeholder="이름을 입력하세요"
            />
        </div>
        <div class="mb-3">
            <label class="form-label">학년</label>
            <input
                    type="number"
                    class="form-control"
                    id="student_grade"
                    placeholder="학년을 입력하세요"
            />
        </div>
        <div class="mb-3">
            <label class="form-label">학과</label>
            <input
                    type="text"
                    class="form-control"
                    id="student_dept"
                    placeholder="학과를 입력하세요"
            />
        </div>
        <a href="/myapp/student/list_page/"><button class="btn btn-info">목록으로 돌아가기</button></a>
        <button id="btn_save" class="btn btn-primary">수정</button>
        <button id="btn_delete" class="btn btn-danger">삭제</button>
    </section>
</div>
{% include 'layout/footer.html' %}
</body>
</html>